<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script defer type="text/javascript" src="/javascripts/script.js"></script>
    
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Filmcity</title>
</head>
<body>
  <header>
    <a id="logo" href="/"><h1>Film-City</h1></a>
    <nav>
      <ul  class="nav-links">
        <% if (user) { %>
          <a class ="header_links" href="/logout">Log Out</a>
        <% } else { %>
          <a class ="header_links" href="/auth/google">Login with Google</a>
        <% } %>
    </ul>
    </nav>
  </header>
  <% if(!movies.length){ %>
    <h2 id="watchlist_heading">No Movies in Watchlist</h2>
    <form action="/" method="GET">
      <input type="text" placeholder="Search" class="search" name="title">
      <span>
        <button class="search" type="submit" id="btn">Go!</button>
      </span>
    </form>
  <% }else{ %>
    <h2 id="watchlist_heading">Your Watchlist</h2>
  <%}%> 
 
  <main>
    <% movies.forEach(function(movie){ %>
    <% const posterImg = posterURL + movie.poster_path %> 
    <% const movieId = movie.id %> 
    
      <div class="movie">
        <div id="delete">
            <a id="delete_link" href="/movies/<%=movie.id%>/watchlist/delete">Delete</a>
        </div>
        <a href="/movies/<%=movieId %>">
          <img  src="<%= posterImg %>" data-movie-id="<%=movieId%> " alt="">
          <div class="movie-title">
            <h3><%= movie.original_title  %> </h3>
            <span><%= movie.vote_average %> </span>
          </div>
        </a>
      </div> 
    <% }) %>
  

  
</main>


</body>
</html>
